# .env
# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# Base de datos PostgreSQL.
DB_ENGINE=django.db.backends.postgresql
DB_NAME=casa_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=5433

